body {
    background: linear-gradient(270deg, #182540, #101726);  
} 
* {
    font-family: sans-serif;
}
.App {
    background:linear-gradient(270deg, rgb(34, 51, 88), rgb(24, 37, 64));
    width: 90%;
    height: 90%; 
    margin: auto; 
    margin-block: 4%;
    border-radius: 5px;
    padding: 15px;
}
.game-finished {
    text-align: center;
    margin-top: 100px;
}
.game-finished h1 {
    font-size: 50px;
}
.game-finished p {
    font-size: 20px;
    margin: 10px 0;
} 
.made2 {
    margin-top: 50px;
}
.made2 a {
    text-decoration: none;
}
.range3 {
    width: 60px;
    height: 20px;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
}  
.circle3 {
    width: 15px;
    height: 15px;
    border-radius: 50%;     
    position: absolute;
    top: 3px;
    background:linear-gradient(270deg, rgb(34, 51, 88), rgb(24, 37, 64));
    transition: background 0.3s ease;
}
.parent3 {
    display: flex; 
    gap: 10px;   
    margin-left: 40%;
} 